

// set colors
$grey: #414042;
$orange: #f15a29;


// bring in the Meyer CSS reset
@import "lib/reset-css/reset.css";


// mixin library
@import "mixins";

// font import and mixins
@import "fonts";



// some body styles
body {
	@include font-open;
	font-size: 17px;
	line-height: 25px;
}

a {
	color: black;
}

p {
	padding: 10px 0;
}

img, video, iframe {
	max-width: 100%;
}


main {

	h1, h2, h3, h4, h5 ,h6 {
		@include font;
		padding: 10px 0;
	}

	h1 {
		font-size: 30px;
		line-height: 40px;
	}

	h2 {
		font-size: 26px;
		line-height: 34px;
		text-transform: uppercase;
		background: url(../img/border-orange.png) bottom left repeat-x;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 22px;
		line-height: 28px;
		text-transform: uppercase;
		background: url(../img/border-orange.png) bottom left repeat-x;
		margin-bottom: 10px;
	}

}



// then we'll include the section-specific styles
header {
	background: $grey;
	color: white;

	a {
		text-decoration: none;
		color: white;
	}

	.logo {
		@include font-handwriting;
		text-align: center;
		padding: 20px;
		
		h1 {
			font-size: 35px;
			line-height: 40px;
		}

		h3 {
			font-size: 21px;
			line-height: 30px;
		}

	}

	nav {
		padding: 20px;
		background: url(../img/border-orange.png) top center repeat-x;
		text-align: center;

		ul {
			@include wrap( 1220px );
			text-transform: uppercase;
			
			li {
				a {
					@include font;
					display: block;
					padding: 8px;
					font-size: 20px;
				}
			}
		}
		
	}

	@include respond-to( 768px ) {	
		position: relative;
		padding-bottom: 20px;
		
		.logo {
			position: absolute;
			bottom: 30px;
			left: 50%;
			width: 25%;
			margin-left: -12.5%;
			padding: 0;
			background: $grey;
			height: 70px;
		}

		nav {
			background-position: bottom center;
			margin-bottom: 20px;

			ul {
				padding: 30px 0;

				li {
					float: left;
					width: 17%;

					&:nth-child(3) {
						margin-left: 32%;
					}
				}
			}
		}
	}
}


.wrap {
	@include wrap( 1220px );
}


.home-head {
	margin: 20px 0;
	background: url(../img/bg-canvas.jpg) center center no-repeat;
	background-size: cover;
	padding: 20px;

	.home-head-content {
		@include wrap( 960px );
		@include clearfix;
	}

	@include respond-to( 768px ) {
		padding: 60px;
	}
}


.home-posts {
	margin: 20px 0;
	background: url(../img/bg-gradient.jpg) center center no-repeat;
	background-size: cover;
	padding: 20px;

	@include respond-to( 768px ) { padding: 30px; }
	@include respond-to( 1024px ) { padding: 50px; }

	.home-posts-content {
		@include wrap( 960px );
		@include clearfix;
	}
	
	h4 {
		padding: 10px 0 0;
		text-transform: uppercase;
	}

	p {
		font-size: .85em;
		padding: 0px 0 10px 0;
	}
}


.column-half, .column-third {
	padding: 10px 0;
}


@include respond-to( 768px ) {
	.column-half, .column-third {
		float: left;
		padding: 0 20px;
		margin: 0;
	}
	.column-half {
		width: 50%;
	}
	.column-third {
		width: 33.3%; 
	}
}


.content-narrow {
	@include wrap( 720px );
	padding: 30px 30px 60px;
	color: lighten( $grey, 10% );

	h1 {
		color: $grey;
	}
}


.blog {
	.entry-content {
		border-top: 3px dashed lighten( $grey, 50% );
		padding: 20px 0;

		h4 {
			padding: 0;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1.1em;

			a {
				text-decoration: none;
			}
		}
	}
}


footer {
	background: $grey;
	color: white;
	padding: 30px;

	.copyright {
		@include font-handwriting;
		text-align: center;
		padding: 10px;
		font-size: 35px;
		line-height: 35px;
	}
	
	nav {
		padding: 5px 10px;
		background: url(../img/border-orange.png) top center repeat-x;
		text-align: center;
		@include wrap( 600px );

		ul {
			text-transform: uppercase;
			@include clearfix;
			
			li {
				display: inline;

				a {
					@include font;
					display: block;
					padding: 12px;
					font-size: 20px;
					text-decoration: none;
					color: white;

					&:hover {
						color: lighten( $grey, 40% );
					}

					@include respond-to( 600px ) {
						width: 20%;
						float: left;
					}
				}
			}
		}
	}
}
